.marco_cotiza
{
  position: fixed;
  width: 33%;
  border-color: #203bfa;
  border-width: thin;
  border-style: solid;
  border-radius: 25px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  right: 5%;
  top: 24%;
  background-color: #fff;
}
.renglon_imagen
{
  height: 250px;
  background-color: #ff4da6;
  background: -webkit-linear-gradient(right, #ff4da6 , #ffe6f2); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(left, #ff4da6, #ffe6f2); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(left, #ff4da6, #ffe6f2); /* For Firefox 3.6 to 15 */
 background: linear-gradient(to left, #ff4da6 , #ffe6f2); /* Standard syntax */
}
